

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.have--bg-color{
    background-color: var(--exam-bg-color);
}

.mgl-10px{
    margin-left: 10px;
}

.flex__container{
    display: flex;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}
.content{
    padding-top: 60px;
}