/* Footer CSS */

.footer{
    border-top: 1px solid #e7eaf3;
    padding: 20px 0px;
    width: 100%;
    background-color: #fff;
}   

.footer__container{
    display: flex;
}

.footer__box{
    margin: 10px 16px;
}

.footer__header{
    font-size: 1.2rem;
}

.footer__text{
    margin: 6px 0px;
}

.footer__item{
    margin: 6px 0px;
}

.footer__link{
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--nav-text-color);
    font-weight: 400;
}

.footer__link:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.footer__icon{
    font-size: 1.8rem !important;
    margin: 0px 2px;
}

.footer__list{
    list-style: none;
}

.footer__information{
    font-size: 0.9rem;
    color: var(--nav-text-color);
}

.footer__business{
    margin: 0px 16px;
}

.footer__header--margin{
    margin: 20px 0px;
}

.footer__copyright{
    font-size: 1.2rem;
    text-align: center;
    color: var(--copyright-text-color);
    margin: 20px 0px;
}