.content__container{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__container{
    width: 600px;
    padding: 30px 60px;
    border: 1px solid var(--course-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(143, 156, 173, .2);
}

.login__details{
    font-size: 1.1rem;
}

.login__btn{
    margin-top: 10px;
    display: block;
    padding: 10px 6px;
    border: 1px solid var(--course-border-color);
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.login__btn:hover{
    color: black;
    transition: 0.2s;
}

.login__btn--fb{
    color: var(--fb-text-color);
}

.login__btn--gg{
    color: var(--gg-text-color);
}

.login__link-to-register{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--nav-hover-text-color);
    font-size: 1rem;
}

.login__link-to-register:hover{
    color: black;
    transition: 0.2s;
}

.register__privacy{
    font-size: 1rem;
}

.register__privacy--text{
    display: inline !important;
}

.active__course-header{
    font-size: 2rem;
}

.active__course-label{
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0px;
}

.active__course-input{
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--input-color);
}

.active__course-input:focus{
    transition: 0.2s;
    background-color: #fff;
    border-color: var(--input-focus-color);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(53, 80, 154, .25);
}

.active__course-link{
    width: 100%;
    background-color: var(--nav-hover-text-color);
    color: white;
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 6px;
    border: none;
}

.active__course-link:hover{
    transition: 0.3s;
    background-color: var(--login-hover-box-color);
}

.active__course-connect{
    font-size: 1rem;
}

.Error_messages{
    color: rgb(217, 30, 30);
    font-size: 0.7rem;
    font-style: italic;
    padding-left: 10px;
    font-family: 'Arial', sans-serif;
}