
.content-left{
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 300px;
    transform: translateX(0%);
}

.header__container{
    padding: 20px 8px;
    background-color: var(--nav-hover-text-color);
    align-items: center;
    justify-content: space-between;
}

.course-learn__container{

    border-right: 1px solid #e0e0e0;
}

.content-left__header{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.content-left__icon{
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.content__input{
    display: none;
}

.content__input:checked ~ .content-left{
    transform: translateX(-90%);
}

.content__input:checked ~ .content-right{
    margin-left: 30px;
}

.course-learn__list{
    list-style: none;
}

.course-learn__link{
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    border-left: 4px solid transparent;
}

.course-learn__link--chosen{
    border-left: 4px solid var(--nav-hover-text-color);
    background-color: var(--tag-search-bg-color);
}

.course-learn__link:hover{
    border-left: 4px solid var(--nav-hover-text-color);
    transition: 0.1s;
    background-color: var(--tag-search-bg-color);
}

.content-right{
    margin-left: 300px;
    background-color: #D4F1F4;
    min-height: 1200px;
}

.nav__content-right{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid var(--course-border-color);
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav__content-link-right{
    text-decoration: none;
    color: var(--nav-hover-text-color);
    font-size: 0.9rem;
}

.nav__content-link-right:hover{
    color: black;
    transition: 0.2s;
}

.nav__content-right__icon{
    font-size: 0.9rem;
}

.nav__content-transition-right{
    font-size: 0.9rem;
}

.content-right__container{
    padding: 60px 0px;
    margin-left: 180px;

}

.content__header{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 50px;
}

.content__box{
    background-color: white;
    padding: 20px;
    border: 1px solid var(--course-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 0 0 rgba(143, 156, 173, .2);
    font-size: 1rem;
    margin: 40px 0px;
    width: 100%;
}

.grid-wide-course-learn{
    max-width: 1000px !important;
    margin: 0 auto;
}

.content__box-process{
    padding: 4px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.content__box-course{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.content__box-course:hover{
    background-color: var(--exam-bg-color);
    transition: 0.2s;
}

.content__box-course-category{
    margin: 0px 8px;
}

.content__box-description{
    font-size: 1.2rem;
}

.content__transition-number{
    margin-top: 30px;
    font-size: 1rem;
    color: white;
    background-color: var(--nav-hover-text-color);
    padding: 10px 14px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.nav__mobile-course{
    position: fixed;
    background-color: white;
    padding-top: 60px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.nav-mobile-course__input:checked ~ .nav__mobile-course{
    display: block;
}

.content__box-course__icon-done{
    color: green;
}

.flashcard__train{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border: 1px solid var(--nav-hover-text-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--tag-search-bg-color);
    font-weight: 600;
}

.flashcard__train:hover{
    color: white;
    background-color: var(--flashcard-train-btn-color);
    transition: 0.2s;
}

.train__flex-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flashcard__train-link{
    font-size: 1rem;
    text-decoration: none;

}

.flashcard__train-link--random{
    color: var(--nav-hover-text-color);
}

.flashcard__train-link--random:hover{
    color: black;
    transition: 0.2s;
}

.flashcard__train-link--stop{
    color: red;
}

.vocabulary__total-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vocabulary__total-text{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.vocabulary__total-text-red{
    color: red;
}

.vocabulary__total-description{
    color: var(--nav-text-color);
}

.vocabulary__description{
    font-size: 1.1rem;
}

.vocabulary__flex-header{
    display: flex;
    align-items: center;
}

.vocabulary__content-icon{
    margin: 0px 6px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--tag-search-bg-color);
    color: var(--vocabulary-icon-color);
}

.vocabulary__study-list{
    padding-left: 30px;
}

.vocabulary__study-item{
    margin: 10px 0px;
}

.content__box-course--chosen{
    border-left: 4px solid var(--nav-hover-text-color) !important;
}

.content__box-course-in-list{
    font-size: 0.9rem;
    border-left: 4px solid transparent;
}

.content__box-course-in-list:hover{
    border-left: 4px solid var(--nav-hover-text-color);

}

.content__box-description-in-list{
    font-size: 0.9rem;
}

.multichoice__header{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.multichoice__hint{
    text-align: center;
    font-weight: 300;
}

.multichoice__box{
    margin-top: 30px;
}

.multichoice__option{
    margin-bottom: 25px;
}

.multichoice__link{
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid var(--answer-btn-color);
    margin: 18px 0px;
    font-size: 1.2rem;
}

.multichoice__link:hover{
    border: 1px solid var(--answer-btn-hover-color);
    transition: 0.2s;
}

.multichoice__option-link{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 6px;
    color: var(--nav-hover-text-color);
    background-color: var(--tag-search-bg-color);
    border-radius: 10px;
}

.multichoice__option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multichoice__auto-container{
    display: flex;
    align-items: center;
}

.multichoice__auto{
    font-size: 1rem;
    margin-left: 10px;
}

.multichoice__list-box{
    display: flex;
    margin-top: 10px;
}

.multichoice__list-number{
    padding: 6px 10px;
    border: 1px solid;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

.multichoice__list-number:hover{
    color: white;
    background-color: var(--nav-hover-text-color);
    transition: 0.1s;
}

.multichoice__list-number--chosen{
    color: white;
    background-color: var(--nav-hover-text-color);
}

.paircard__box{
    border: 2px solid transparent;
    padding: 60px;
    text-decoration: none;
    color: var(--nav-hover-text-color);
    display: flex;
    align-items: center;
}

.paircard__box:hover{
    border: 2px solid var(--nav-hover-text-color);
}

.paircard__box-volcabulary{
    font-size: 1.6rem;
    color: var(--paircard-volcabulary-text-color);
}

.spell__box{
    padding: 60px;
    text-decoration: none;
    color: black;
}

.spell__box:hover{
    background-color: var(--spell-listen-bg-color);
    transition: 0.2s;
}

.spell__text{
    text-align: center;
}

.spell__audio{
    width: 100%;
}

.translate__header{
    text-align: center;
    font-size: 1.6rem;
    padding-top: 30px;
}

.translate__hint{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    padding: 30px 0px;
}

.translate__input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.translate__input{
    padding: 26px 10px;
    font-size: 1.8rem;
}

.listenSpell-left{
    padding: 20px 10px;
    background-color: var(--spell-alert-bg-color);
}

.listenSpell__list{
    padding-left: 20px;
    font-size: 0.9rem;
    color: var(--spell-alert-text-color);
}

.listenSpell__select-container{
    display: flex;
    align-items: center;

}

.listenSpell__select-text{
    font-size: 1rem;
}

.listenSpell__select{
    margin-left: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    color: var(--nav-hover-text-color);
    font-size: 1rem;
}

.listenSpell__link-option{
    margin-top: 10px;
}

.listenSpell__link{
    display: block;
    font-size: 0.9rem;
    text-decoration: none;
    font-style: italic;
    color: var(--nav-hover-text-color);
    margin: 6px 0px;
}

.listenSpell__dictation{
    display: block;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    font-style: italic;
    color: var(--nav-hover-text-color);
}

.listenSpell__input{
    margin: 20px 0px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    color: #f0f;
    padding: 20px;
    font-size: 2rem;
    outline: none;
}

.listenSpell__answer-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listenSpell__icon{
    margin-right: 6px;
}

.listenSpell__answer{
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: var(--nav-hover-text-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
}

.listenSpell__answer:hover{
    color: var(--star-color);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .2), 0 2px 6px 2px rgba(60, 64, 67, .15);
    transform: translateY(-2px);
    transition: all .4s;
}

.listenSpell__option{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listenSpell_continue{
    text-decoration: none;
    color: var(--nav-hover-text-color);
}

.listenSpell_continue:hover{
    color: black;
    transition: 0.2s;
}