.flashcard__bg{
    padding: 40px 0px;
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9, #f6ebe6 74%);
}

.flashcard__header{
    font-size: 2rem;
}

.flashcard__icon{
    margin-right: 16px;
}

.flashcard__tag{
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--tag-text-color);
    font-weight: 500;
    background-color: var(--tag-search-bg-color);
}

.flashcard__alert{
    padding: 16px;
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--alert-flashcard-color);
    margin: 20px 0px;
    color: var(--alert-text-color);
}

.alert__link{
    text-decoration: none;
    color: var(--tag-text-color);
}

.alert__link:hover{
    color: black;
    transition: 0.2s;
}

.flashcard__container{
    margin: 20px 0px;
}

.flashcard__box-title{
    font-size: 1rem;
}

.flashcard__create-by{
    display: flex;
    align-items: center;
}

.flashcard__img{
    border-radius: 100%;
}

.flashcard__name{
    margin-left: 10px;
    font-size: 0.8rem;
}

.testOnline__box{
    background-color: #fff;
    padding: 1rem;
    border-radius: .65rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 0 0 rgba(143, 156, 173, .2);
    font-size: 0.8rem;
}

.testOnline__tag{
    background-color: #eee;
    padding: 5px;
    border-radius: 30px;
    color: #1e2022;
    font-weight: 400;
    text-decoration: none;
}

.testOnline__header{
    font-size: 2rem;
    margin: 10px 0px;
}

.testOnline__link{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    padding: 8px;
    background-color: #f8f9fa;
    border-radius: 30px;
    margin: 20px 0px;
    display: inline-block;
}

.testOnline__link--chosen{
    color: #35509a;
    background-color: #e8f2ff;
    font-weight: 800;
}

.testOnline__link:hover{
    background-color: #e7eaf3;
    transition: 0.2s;
}

.testOnline__description{
    margin: 10px 0px;
    font-size: 0.9rem;
}

.testOnline__aleart{
    font-style: italic;
    color: red;
    font-size: 1rem;
}

.aleart__container{
    background-color: #ffefd8;
    color: #855a1f;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 20px 0px;
}

.testOnline__btn{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #35509a;
    font-weight: 500;
    margin: 10px 0px;
}

.testExam__header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.testExam__audio{
    width: 100%;
}

.doTestExam__link{
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    padding: 6px;
    border-radius: 10px;
    background-color: var(--tag-search-bg-color);
    border: 1px solid var(--nav-hover-text-color);
    margin-left: 10px;
    font-weight: 600;
}

.doTestExam__link:hover{
    background-color: var(--flashcard-train-btn-color);
    color: white;
    transition: 0.2s;
}

.testExam__content-box{
    display: none;
    margin: 20px 0px;
}

.testExam__content-box--active{
    display: block;
}

.testExam__question{
    display: flex;
    font-size: 1rem;
}

.testExam__option-container{
    margin-left: 10px;
}

.testExam__time-left{
    font-size: 1rem;
    margin-bottom: 10px;
}

.testExam__time{
    font-size: 1.6rem;
    font-weight: 600;
}

.testExam__finish{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
}

.testExam__recovery{
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    font-size: 0.9rem;
    color: red;
    margin: 10px 0px;
}

.testExam__aleart{
    text-decoration: none;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--star-color);
}

.testOnline__part-header{
    margin-top: 10px;
    font-size: 1.2rem;
}

.multichoice__list-box{
    flex-wrap: wrap;

}

.multichoice__list-number{
    margin: 10px 0px;
}

.tag-search__link{
    opacity: 0.6;
}

.tag-search__link--chosen{
    opacity: 1;
}