<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/courseLearn.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Body -->
    <div class="content">
      <div class="content__container">
        <input type="checkbox" id="content__checkbox" class="content__input" />
        <div class="content-left hide-on-mobile hide-on-tablet">
          <div class="flex__container header__container">
            <a href="courseLearn.html" class="content-left__header"
              >IELTS General Reading</a
            >
            <a href="" class="content-left__dropleft">
              <label for="content__checkbox"
                ><i class="content-left__icon fa-solid fa-angle-left"></i
              ></label>
            </a>
          </div>
          <div class="course-learn__container">
            <ul class="course-learn__list">
              <li class="course-learn__item">
                <a href="" class="course-learn__link course-learn__link--chosen"
                  >Bài học thử</a
                >
              </li>
              <li class="course-learn__item">
                <a href="courseVocabulary.html" class="course-learn__link">
                  Từ vựng TOEIC
                </a>
              </li>
              <li class="course-learn__item">
                <a href="courseGrammar.html" class="course-learn__link">
                  Ngữ pháp TOEIC
                </a>
              </li>
              <li class="course-learn__item">
                <a href="" class="course-learn__link"> PRACTICE ZONE </a>
              </li>
              <li class="course-learn__item">
                <a href="" class="course-learn__link">
                  GT Practice Set 7 Test 1: Luyện tập từ vựng
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-right">
          <nav class="nav__content-right">
            <div
              class="nav__content-header-right hide-on-mobile hide-on-tablet"
            >
              <a href="" class="nav__content-link-right"
                >IELTS General Reading
              </a>
              <i class="nav__content-right__icon fa-solid fa-chevron-right"></i>
              <span class="nav__content-transition-right">Bài học thử</span>
            </div>
            <label class="hide" for="nav-mobile-course-checkbox"
              ><i class="fa-solid fa-bars nav__icon"></i
            ></label>
          </nav>
          <input
            type="checkbox"
            id="nav-mobile-course-checkbox"
            class="nav-mobile-course__input"
          />
          <div class="nav__mobile-course hide">
            <div class="flex__container header__container">
              <a href="courseLearn.html" class="content-left__header"
                >IELTS General Reading</a
              >
              <a href="" class="content-left__dropleft">
                <label for="nav-mobile-course-checkbox"
                  ><i class="content-left__icon fa-solid fa-angle-left"></i
                ></label>
              </a>
            </div>
            <div class="course-learn__container">
              <ul class="course-learn__list">
                <li class="course-learn__item">
                  <a
                    href=""
                    class="course-learn__link course-learn__link--chosen"
                    >Bài học thử</a
                  >
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    Phương pháp làm các dạng câu hỏi trong IELTS General Reading
                  </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    Video chữa đề chi tiết
                  </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link"> PRACTICE ZONE </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    GT Practice Set 7 Test 1: Luyện tập từ vựng
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-right__container">
            <div class="grid wide grid-wide-course-learn">
              <h1 class="content__header">Bài học thử</h1>
              <div class="content__box">
                <h2 class="content__box-header">Tiến độ học tập</h2>
                <p class="content__box-percent">0%</p>
                <div class="content__box-process"></div>
              </div>
              <div class="content__box">
                <h2 class="content__box-header">Hướng dẫn làm dạng T/F/NG</h2>
                <a href="" class="content__box-course">
                  <i class="fa-regular fa-circle-play"></i>
                  <h3 class="content__box-course-category">Video bài giảng:</h3>
                  <span class="content__box-description"> Lý thuyết</span>
                </a>
                <a href="" class="content__box-course">
                  <i class="fa-regular fa-circle-play"></i>
                  <h3 class="content__box-course-category">Video bài giảng:</h3>
                  <span class="content__box-description"> Lý thuyết</span>
                </a>
              </div>
              <div class="content__box">
                <h2 class="content__box-header">Hướng dẫn làm dạng T/F/NG</h2>
                <a href="" class="content__box-course">
                  <i class="fa-regular fa-circle-play"></i>
                  <h3 class="content__box-course-category">Video bài giảng:</h3>
                  <span class="content__box-description"> Lý thuyết</span>
                </a>
                <a href="" class="content__box-course">
                  <i class="fa-regular fa-circle-play"></i>
                  <h3 class="content__box-course-category">Video bài giảng:</h3>
                  <span class="content__box-description"> Lý thuyết</span>
                </a>
              </div>
              <a href="" class="content__transition-number">1</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Body -->
  </body>
</html>
