<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/courseDetails.css" />
    <link rel="stylesheet" href="../assets/css/examOnline.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Should be in Body -->

    <!-- Content -->
    <div class="content">
      <div class="flex__container flex__container-details">
        <div class="details__about">
          <div class="grid wide">
            <h2 class="details__header">
              Combo khoá học IELTS Intensive [Tặng khoá TED Talks]
            </h2>
            <a href="" class="details__tag">#Khóa học online</a>
            <div class="flex__container">
              <div class="details__rate">
                <span class="rate">5</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <span class="details__text">(630 đánh giá)</span>
              <span class="details__text">38,171 học viên</span>
            </div>
            <div class="details__info">
              <p class="details__text">
                <i class="fa-solid fa-circle-check details__icon"></i> Dành cho
                các bạn từ band 4.0 trở lên.
              </p>
              <p class="details__text">
                <i class="fa-solid fa-circle-check details__icon"></i> Sở hữu
                trọn bộ 4 khoá học
                <span class="details--italic"
                  >IELTS Intensive online: Listening - Reading - Writing -
                  Speaking</span
                >
              </p>
              <p class="details__text">
                <i class="fa-solid fa-circle-check details__icon"></i> Tặng kèm
                khoá
                <span class="details--underline"
                  >Luyện nghe nói tiếng Anh cùng Ted Talks</span
                >
                trị giá 599k
              </p>
              <p class="details__text">
                <i class="fa-solid fa-circle-check details__icon"></i> Combo
                khoá học có giá trị 12 tháng
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="details-under have--bg-color">
        <div class="grid wide">
          <ul class="tag-search__transition">
            <li class="tag-search__transition-item">
              <a
                href=""
                class="tag-search__transition-link tag-search__transition-link--chosen"
                >Mục tiêu khóa học</a
              >
            </li>
            <li class="tag-search__transition-item">
              <a href="" class="tag-search__transition-link"
                >Thông tin khóa học</a
              >
            </li>
            <li class="tag-search__transition-item">
              <a href="" class="tag-search__transition-link"
                >Chương trình học</a
              >
            </li>
            <li class="tag-search__transition-item">
              <a href="" class="tag-search__transition-link">Đánh giá (630)</a>
            </li>
          </ul>
          <div class="row container__details">
            <div class="details__content-left col l-8 m-6 c-12">
              <div class="details__box-content">
                <h2 class="details__box-header">
                  Bạn sẽ đạt được gì sau khoá học?
                </h2>
                <p class="details__box-text">
                  1️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  2️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  3️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  4️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
              </div>
              <div class="details__box-content">
                <h2 class="details__box-header">
                  Bạn sẽ đạt được gì sau khoá học?
                </h2>
                <p class="details__box-text">
                  1️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  2️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  3️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  4️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
              </div>
              <div class="details__box-content">
                <h2 class="details__box-header">
                  Bạn sẽ đạt được gì sau khoá học?
                </h2>
                <p class="details__box-text">
                  1️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  2️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  3️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
                <p class="details__box-text">
                  4️⃣Đạt mục tiêu tối thiểu 7.0 trong IELTS Reading General
                  Training
                </p>
              </div>
            </div>
            <div class="details__content-right col l-4 m-6 c-12">
              <div class="details__box-fixed">
                <img
                  width="100%"
                  height="150px"
                  src="https://study4.com/media/courses/CourseSeries/files/2023/10/11/combo_intensive.webp"
                  alt=""
                  class="details__img"
                />
                <div class="details__price-box">
                  <h2 class="details__endow">Ưu đãi đặc biệt tháng 5/2024:</h2>
                  <div class="flex__container">
                    <h3 class="details__price-new">1.525.000đ</h3>
                    <div class="details__price-old-box">
                      <span class="details__price-old"
                        >Giá gốc: 3.596.000đ</span
                      >
                      <span class="details__price-eco"
                        >Tiết kiệm: 2.071.000đ</span
                      >
                      <span class="details__percent">(-57%)</span>
                    </div>
                  </div>
                  <a href="" class="details__btn details__btn-register"
                    >ĐĂNG KÝ HỌC NGAY</a
                  >
                  <a href="" class="details__btn details__btn-try"
                    >Học thử miễn phí</a
                  >
                </div>
                <div class="details__price-box">
                  <div class="details__ads">
                    <p class="details__ads-content">
                      <i class="fa-solid fa-users details__icon-under"></i>
                      38,171 học viên đã đăng ký
                    </p>
                    <p class="details__ads-content">
                      <i class="fa-solid fa-book-open details__icon-under"></i>
                      86 chủ đề, 809 bài học
                    </p>
                    <p class="details__ads-content">
                      <i class="fa-solid fa-pencil details__icon-under"></i>
                      1,970 bài tập thực hành
                    </p>
                    <p class="details__ads-content">
                      <i class="fa-solid fa-user-clock details__icon-under"></i>
                      Combo 4 khoá học có giá trị 12 tháng
                    </p>
                    <p class="details__ads-content">
                      <i
                        class="fa-solid fa-house-laptop details__icon-under"
                      ></i>

                      Có thể học trên điện thoại và máy tính
                    </p>
                  </div>
                </div>
                <div class="details__price-box">
                  <p class="details__contact">
                    Chưa chắc chắn khoá học này dành cho bạn?
                  </p>
                  <a href="" class="details__link"
                    >Liên hệ để nhận tư vấn miễn phí!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- End Body -->
    <!-- Footer : Should be in Layout -->
    <footer class="footer">
      <div class="grid wide">
        <div class="footer__container row">
          <div class="footer__box col l-2">
            <img
              width="100px"
              height="30px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt=""
            />
            <p class="footer__text">© 2021</p>
            <div class="footer__social">
              <a href="" class="footer__link">
                <i class="fa-brands fa-facebook footer__icon"></i
              ></a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-instagram footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-twitter footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-linkedin footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-tiktok footer__icon"></i>
              </a>
            </div>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__business">
          <h3 class="footer__header footer__header--margin">
            Thông tin doanh nghiệp
          </h3>
          <ul class="footer__list">
            <li class="footer__item">
              <p class="footer__information">Công ty TNHH Công Nghệ A Plus</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Giấy chứng nhận Đăng ký doanh nghiệp số: 0109675459 do Sở Kế
                hoạch và Đầu tư thành phố Hà Nội cấp ngày 17/06/2021.
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Điện thoại liên hệ/Hotline: 096 369 5525
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">Email: study4.team@gmail.com.</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Địa chỉ trụ sở: Số 15, Ngõ 208 Giải Phóng, Phường Phương Liệt,
                Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
              </p>
            </li>
          </ul>
          <p class="footer__copyright">
            @ 2021 - Bản quyền của Công ty TNHH Công Nghệ A Plus.
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
