<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="stylesheet" href="../assets/css/courseOnline.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Content : Should be in body -->
    <div class="content">
      <div class="grid wide">
        <a href="" class="content__link">
          <img
            width="100%"
            height="100px"
            src="https://img.freepik.com/free-vector/white-gray-abstract-background_1108-591.jpg?t=st=1715010324~exp=1715010924~hmac=da387e64ab7fc4690eccaf37e29a8ba79ca1aa613fed3c1e2e0c6c16d38d6030"
            alt=""
            class="content__img"
          />
        </a>
        <div class="content__details">
          <h1 class="content__header">Khóa học online</h1>
          <p class="content__text">
            Những khoá học tiếng Anh online chất lượng cao của STUDY4 được thiết
            kế theo chương trình tiếng Anh chuẩn CEFR (A1-C2) của đại học
            Cambridge và Oxford (Anh) với hệ thống bài giảng, bài tập phong phú
            đa dạng. Bạn có thể học thử miễn phí trước khi đặt mua sản phẩm.
          </p>
        </div>
        <!-- Course : Shouble be translate from data -->
        <div class="course">
          <h2 class="course__header">Combo khoá học đặc biệt:</h2>
          <div class="course__container row">
            <a
              href="/View/courseDetails.html"
              class="course__link col l-4 m-6 c-12"
            >
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
            <a
              href="/View/courseDetails.html"
              class="course__link col l-4 m-6 c-12"
            >
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
            <a
              href="/View/courseDetails.html"
              class="course__link col l-4 m-6 c-12"
            >
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
          </div>
          <div class="course">
            <h2 class="course__header">Combo khoá học đặc biệt:</h2>
            <div class="course__container row">
              <a
                href="/View/courseDetails.html"
                class="course__link col l-4 m-6 c-12"
              >
                <div class="course__box">
                  <img
                    width="100%"
                    src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                    alt=""
                    class="course__img"
                  />
                  <h3 class="course__title">
                    [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                    Lược Làm Bài - Chữa đề chi tiết
                  </h3>
                  <div class="course__rate">
                    <div class="course__star">
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                    </div>
                    <span class="course__amount">(64)</span>
                    <span class="course__student">698 Học Viên</span>
                  </div>
                  <div class="course__tag">#Khóa học online</div>
                  <div class="course__price">
                    <span class="price__sale">699.000đ</span>
                    <span class="price__old">899.000đ</span>
                    <span class="price__percent">-22%</span>
                  </div>
                </div>
              </a>
              <a
                href="/View/courseDetails.html"
                class="course__link col l-4 m-6 c-12"
              >
                <div class="course__box">
                  <img
                    width="100%"
                    src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                    alt=""
                    class="course__img"
                  />
                  <h3 class="course__title">
                    [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                    Lược Làm Bài - Chữa đề chi tiết
                  </h3>
                  <div class="course__rate">
                    <div class="course__star">
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                    </div>
                    <span class="course__amount">(64)</span>
                    <span class="course__student">698 Học Viên</span>
                  </div>
                  <div class="course__tag">#Khóa học online</div>
                  <div class="course__price">
                    <span class="price__sale">699.000đ</span>
                    <span class="price__old">899.000đ</span>
                    <span class="price__percent">-22%</span>
                  </div>
                </div>
              </a>
              <a
                href="/View/courseDetails.html"
                class="course__link col l-4 m-6 c-12"
              >
                <div class="course__box">
                  <img
                    width="100%"
                    src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                    alt=""
                    class="course__img"
                  />
                  <h3 class="course__title">
                    [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                    Lược Làm Bài - Chữa đề chi tiết
                  </h3>
                  <div class="course__rate">
                    <div class="course__star">
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                      <i class="fa-solid fa-star course__icon-star"></i>
                    </div>
                    <span class="course__amount">(64)</span>
                    <span class="course__student">698 Học Viên</span>
                  </div>
                  <div class="course__tag">#Khóa học online</div>
                  <div class="course__price">
                    <span class="price__sale">699.000đ</span>
                    <span class="price__old">899.000đ</span>
                    <span class="price__percent">-22%</span>
                  </div>
                </div>
              </a>
            </div>
            <!-- End Course -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <!-- Footer : Should be in Layout -->
    <footer class="footer">
      <div class="grid wide">
        <div class="footer__container row">
          <div class="footer__box col l-2">
            <img
              width="100px"
              height="30px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt=""
            />
            <p class="footer__text">© 2021</p>
            <div class="footer__social">
              <a href="" class="footer__link">
                <i class="fa-brands fa-facebook footer__icon"></i
              ></a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-instagram footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-twitter footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-linkedin footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-tiktok footer__icon"></i>
              </a>
            </div>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__business">
          <h3 class="footer__header footer__header--margin">
            Thông tin doanh nghiệp
          </h3>
          <ul class="footer__list">
            <li class="footer__item">
              <p class="footer__information">Công ty TNHH Công Nghệ A Plus</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Giấy chứng nhận Đăng ký doanh nghiệp số: 0109675459 do Sở Kế
                hoạch và Đầu tư thành phố Hà Nội cấp ngày 17/06/2021.
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Điện thoại liên hệ/Hotline: 096 369 5525
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">Email: study4.team@gmail.com.</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Địa chỉ trụ sở: Số 15, Ngõ 208 Giải Phóng, Phường Phương Liệt,
                Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
              </p>
            </li>
          </ul>
          <p class="footer__copyright">
            @ 2021 - Bản quyền của Công ty TNHH Công Nghệ A Plus.
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
