<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/flashCard.css" />
    <link rel="stylesheet" href="../assets/css/courseLearn.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="stylesheet" href="../assets/css/examOnline.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Should be in Body -->
    <div class="content">
      <div class="flashcard__content">
        <div class="mgl-10px">
          <div class="testExam__header-box">
            <h2 class="doTestExam__header">Practice Set 2023 TOEIC Test 10</h2>
            <a href="home.html" class="doTestExam__link">Thoát</a>
          </div>
          <div class="content__container row flashcard__container">
            <div class="content__left col l-10 m-8 c-12">
              <div class="testOnline__box">
                <audio class="testExam__audio" controls>
                  <source src="" type="audio/ogg" />
                  <source src="" type="audio/mpeg" />
                  Your browser does not support the audio element.
                </audio>
                <ul class="tag-search__list">
                  <li class="tag-search__item">
                    <a
                      href="#"
                      class="tag-search__link tag-search__link--chosen"
                      >Tất cả</a
                    >
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 1</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 2</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 3</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 4</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 5</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 6</a>
                  </li>
                  <li class="tag-search__item">
                    <a href="#" class="tag-search__link">Part 7</a>
                  </li>
                </ul>
                <div
                  class="testExam__content-box testExam__content-box--active"
                >
                  <img
                    src="https://study4.com/media/ets2023/img/10/image13.png"
                    alt=""
                    class="testExam__img"
                  />
                  <form>
                    <div class="testExam__question">
                      <p class="testExam__question-number">1.</p>
                      <div class="testExam__option-container">
                        <div class="testExam__option">
                          <input type="radio" name="option" id="A" value="A" />
                          <label for="A">A</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="B" value="B" />
                          <label for="B">B</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="C" value="C" />
                          <label for="C">C</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="D" value="D" />
                          <label for="D">D</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="testExam__content-box">
                  <img
                    src="https://study4.com/media/ets2023/img/10/image14.png"
                    alt=""
                    class="testExam__img"
                  />
                  <form>
                    <div class="testExam__question">
                      <p class="testExam__question-number">1.</p>
                      <div class="testExam__option-container">
                        <div class="testExam__option">
                          <input type="radio" name="option" id="A" value="A" />
                          <label for="A">A</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="B" value="B" />
                          <label for="B">B</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="C" value="C" />
                          <label for="C">C</label>
                        </div>

                        <div class="testExam__option">
                          <input type="radio" name="option" id="D" value="D" />
                          <label for="D">D</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="content__right col l-2 m-4 c-12">
              <div class="testOnline__box">
                <p class="testExam__time-left">Thời gian còn lại:</p>
                <p class="testExam__time">100:30</p>
                <a href="#" class="testExam__finish doTestExam__link"
                  >NỘP BÀI</a
                >
                <a href="" class="testExam__recovery"
                  >Khôi phục/lưu bài làm ></a
                >
                <p class="testExam__aleart">
                  Chú ý: bạn có thể click vào số thứ tự câu hỏi trong bài để
                  đánh dấu review
                </p>
                <div class="testOnline__part">
                  <h3 class="testOnline__part-header">Part 1</h3>
                  <div class="multichoice__list-box">
                    <a
                      href=""
                      class="multichoice__list-number multichoice__list-number--chosen"
                      >1</a
                    >
                    <a href="" class="multichoice__list-number">2</a>
                    <a href="" class="multichoice__list-number">3</a>
                    <a href="" class="multichoice__list-number">4</a>
                    <a href="" class="multichoice__list-number">5</a>
                    <a href="" class="multichoice__list-number">6</a>
                    <a href="" class="multichoice__list-number">7</a>
                    <a href="" class="multichoice__list-number">8</a>
                    <a href="" class="multichoice__list-number">9</a>
                    <a href="" class="multichoice__list-number">10</a>
                    <a href="" class="multichoice__list-number">11</a>
                    <a href="" class="multichoice__list-number">12</a>
                    <a href="" class="multichoice__list-number">13</a>
                    <a href="" class="multichoice__list-number">14</a>
                  </div>
                </div>
                <div class="testOnline__part">
                  <h3 class="testOnline__part-header">Part 1</h3>
                  <div class="multichoice__list-box">
                    <a
                      href=""
                      class="multichoice__list-number multichoice__list-number--chosen"
                      >1</a
                    >
                    <a href="" class="multichoice__list-number">2</a>
                    <a href="" class="multichoice__list-number">3</a>
                    <a href="" class="multichoice__list-number">4</a>
                    <a href="" class="multichoice__list-number">5</a>
                    <a href="" class="multichoice__list-number">6</a>
                    <a href="" class="multichoice__list-number">7</a>
                    <a href="" class="multichoice__list-number">8</a>
                    <a href="" class="multichoice__list-number">9</a>
                    <a href="" class="multichoice__list-number">10</a>
                    <a href="" class="multichoice__list-number">11</a>
                    <a href="" class="multichoice__list-number">12</a>
                    <a href="" class="multichoice__list-number">13</a>
                    <a href="" class="multichoice__list-number">14</a>
                  </div>
                </div>
                <div class="testOnline__part">
                  <h3 class="testOnline__part-header">Part 1</h3>
                  <div class="multichoice__list-box">
                    <a
                      href=""
                      class="multichoice__list-number multichoice__list-number--chosen"
                      >1</a
                    >
                    <a href="" class="multichoice__list-number">2</a>
                    <a href="" class="multichoice__list-number">3</a>
                    <a href="" class="multichoice__list-number">4</a>
                    <a href="" class="multichoice__list-number">5</a>
                    <a href="" class="multichoice__list-number">6</a>
                    <a href="" class="multichoice__list-number">7</a>
                    <a href="" class="multichoice__list-number">8</a>
                    <a href="" class="multichoice__list-number">9</a>
                    <a href="" class="multichoice__list-number">10</a>
                    <a href="" class="multichoice__list-number">11</a>
                    <a href="" class="multichoice__list-number">12</a>
                    <a href="" class="multichoice__list-number">13</a>
                    <a href="" class="multichoice__list-number">14</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Body -->
    <script>
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);

      const tabs = $$(".tag-search__link");
      const panes = $$(".testExam__content-box");

      const tabActive = $(".tag-search__link.tag-search__link--chosen");

      tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
          $(".tag-search__link.tag-search__link--chosen").classList.remove(
            "tag-search__link--chosen"
          );
          $(
            ".testExam__content-box.testExam__content-box--active"
          ).classList.remove("testExam__content-box--active");

          this.classList.add("tag-search__link--chosen");
          pane.classList.add("testExam__content-box--active");
        };
      });
    </script>
  </body>
</html>
