<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>

  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Kích hoạt khóa học</a>
              </li>
              <li class="nav__item nav__item-login">
                <a href="" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Khóa học online</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Đề thi online</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Flashcards</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Kích hoạt khóa học</a>
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a href="" class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Should be in Body -->

    <!-- End Body -->
    <!-- Content -->
    <div class="content">
      <!-- Slider -->
      <div class="slider">
        <img
          width="100%"
          src="https://study4.com/media/home/HomeBanner/1/files/233968478_140026628280769_6886569768763456198_n.jpg"
          alt=""
          class="slider__img"
        />
        <div class="arrow__container">
          <a href="" class="slider__link"
            ><i class="fa-solid fa-chevron-left slider__icon"></i
          ></a>
          <a href="" class="slider__link">
            <i class="fa-solid fa-chevron-right slider__icon"></i>
          </a>
        </div>
      </div>
      <!-- End Slider -->
      <!-- Course -->
      <div class="grid wide">
        <div class="course">
          <h2 class="course__header">Khóa học online nổi bật</h2>
          <!-- Course : Shouble be translate from data -->
          <div class="course__container row">
            <a href="" class="course__link col l-4 m-6 c-12">
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
            <a href="" class="course__link col l-4 m-6 c-12">
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
            <a href="" class="course__link col l-4 m-6 c-12">
              <div class="course__box">
                <img
                  width="100%"
                  src="https://study4.com/media/courses/Course/files/2023/12/12/gt_reading-min.webp"
                  alt=""
                  class="course__img"
                />
                <h3 class="course__title">
                  [IELTS General Training] Intensive Reading: Từ Vựng - Chiến
                  Lược Làm Bài - Chữa đề chi tiết
                </h3>
                <div class="course__rate">
                  <div class="course__star">
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                    <i class="fa-solid fa-star course__icon-star"></i>
                  </div>
                  <span class="course__amount">(64)</span>
                  <span class="course__student">698 Học Viên</span>
                </div>
                <div class="course__tag">#Khóa học online</div>
                <div class="course__price">
                  <span class="price__sale">699.000đ</span>
                  <span class="price__old">899.000đ</span>
                  <span class="price__percent">-22%</span>
                </div>
              </div>
            </a>
          </div>
          <!-- End Course -->

          <!-- Slider -->
          <div class="slider slider-middle">
            <img
              width="100%"
              src="https://study4.com/media/home/HomeBanner/2/files/Webp.net-resizeimage_69.jpg"
              alt=""
              class="slider__img"
            />
            <div class="arrow__container">
              <a href="" class="slider__link"
                ><i class="fa-solid fa-chevron-left slider__icon"></i
              ></a>
              <a href="" class="slider__link">
                <i class="fa-solid fa-chevron-right slider__icon"></i>
              </a>
            </div>
            <!--End Slider  -->
          </div>
          <!-- End Slider -->

          <!-- New Exam : Shouble be translate from data -->
          <div class="exam">
            <h2 class="exam__header">Đề thi mới nhất</h2>
            <div class="exam__container row">
              <a href="#" class="exam__link col l-3 m-4 c-6">
                <div class="exam__box">
                  <h4 class="exam__box-title">
                    IELTS Simulation Listening test 1
                  </h4>
                  <div class="exam__details">
                    <i class="fa-regular fa-clock"></i>
                    <span class="exam__text">40 phút |</span>
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="exam__text">297723 |</span>
                    <i class="fa-regular fa-comment"></i>
                    <span class="exam__text">993</span>
                    <br />
                    <span class="exam__text">4 phần thi |</span>
                    <span class="exam__text">40 câu hỏi</span>
                  </div>
                  <div class="exam__tag-container">
                    <div class="exam__tag course__tag">#IELTS Academic</div>
                    <div class="exam__tag course__tag">#Listening</div>
                  </div>
                  <button class="exam__btn">Chi tiết</button>
                </div>
              </a>
              <a href="#" class="exam__link col l-3 m-4 c-6">
                <div class="exam__box">
                  <h4 class="exam__box-title">
                    IELTS Simulation Listening test 1
                  </h4>
                  <div class="exam__details">
                    <i class="fa-regular fa-clock"></i>
                    <span class="exam__text">40 phút |</span>
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="exam__text">297723 |</span>
                    <i class="fa-regular fa-comment"></i>
                    <span class="exam__text">993</span>
                    <br />
                    <span class="exam__text">4 phần thi |</span>
                    <span class="exam__text">40 câu hỏi</span>
                  </div>
                  <div class="exam__tag-container">
                    <div class="exam__tag course__tag">#IELTS Academic</div>
                    <div class="exam__tag course__tag">#Listening</div>
                  </div>
                  <button class="exam__btn">Chi tiết</button>
                </div>
              </a>
              <a href="#" class="exam__link col l-3 m-4 c-6">
                <div class="exam__box">
                  <h4 class="exam__box-title">
                    IELTS Simulation Listening test 1
                  </h4>
                  <div class="exam__details">
                    <i class="fa-regular fa-clock"></i>
                    <span class="exam__text">40 phút |</span>
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="exam__text">297723 |</span>
                    <i class="fa-regular fa-comment"></i>
                    <span class="exam__text">993</span>
                    <br />
                    <span class="exam__text">4 phần thi |</span>
                    <span class="exam__text">40 câu hỏi</span>
                  </div>
                  <div class="exam__tag-container">
                    <div class="exam__tag course__tag">#IELTS Academic</div>
                    <div class="exam__tag course__tag">#Listening</div>
                  </div>
                  <button class="exam__btn">Chi tiết</button>
                </div>
              </a>
              <a href="#" class="exam__link col l-3 m-4 c-6">
                <div class="exam__box">
                  <h4 class="exam__box-title">
                    IELTS Simulation Listening test 1
                  </h4>
                  <div class="exam__details">
                    <i class="fa-regular fa-clock"></i>
                    <span class="exam__text">40 phút |</span>
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="exam__text">297723 |</span>
                    <i class="fa-regular fa-comment"></i>
                    <span class="exam__text">993</span>
                    <br />
                    <span class="exam__text">4 phần thi |</span>
                    <span class="exam__text">40 câu hỏi</span>
                  </div>
                  <div class="exam__tag-container">
                    <div class="exam__tag course__tag">#IELTS Academic</div>
                    <div class="exam__tag course__tag">#Listening</div>
                  </div>
                  <button class="exam__btn">Chi tiết</button>
                </div>
              </a>
            </div>
          </div>
          <!-- End Exam -->

          <!-- Join to group -->
          <div class="group">
            <h2 class="group__header">Tham gia cộng đồng</h2>
            <p class="group__details-text">
              và hơn 350.000 học viên tham gia mỗi tháng
            </p>
            <div class="group__container row">
              <div class="group__img col l-3 m-4 c-4">
                <img
                  width="100%"
                  height="100%"
                  src="https://i.pinimg.com/564x/09/16/d5/0916d56858374ce99472a476b000028b.jpg"
                  alt=""
                />
              </div>
              <div class="group__details l-7 m-7 c-7">
                <i class="fa-solid fa-check group__icon"></i>
                <span class="group__text"
                  >Cộng đồng học tiếng Anh và luyện thi sôi nổi với hơn 250.000
                  học viên mỗi tháng</span
                >
                <br />
                <br />
                <i class="fa-solid fa-check group__icon"></i>
                <span class="group__text"
                  >Đặt câu hỏi cho đội ngũ trợ giảng cũng như các học viên khác
                  để nhận giải đáp sau 30 phút</span
                >
                <br />
                <br />
                <i class="fa-solid fa-check group__icon"></i>
                <span class="group__text"
                  >Chia sẻ kinh nghiệm học tập và làm bài thi với các thành viên
                  khác</span
                >
                <br />
                <br />
                <i class="fa-solid fa-check group__icon"></i>
                <span class="group__text"
                  >Luyện tập kỹ năng nói & viết và nhận được nhận xét và chấm
                  điểm từ cộng đồng và giảng viên</span
                >
                <br />
                <a href="#" class="group__link">Tham gia ngay</a>
              </div>
            </div>
          </div>
          <!-- End Group -->
        </div>
      </div>
      <!-- Register Course -->
      <div class="course-register">
        <img
          src="https://images.pexels.com/photos/207756/pexels-photo-207756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          width="100%"
          height="800px"
          alt=""
          class="course-register__img"
        />
        <div class="course-register__container">
          <h2 class="course-register__header">Đăng ký thông tin khoá học</h2>
          <div class="course-register__information-box">
            <form action="">
              <input
                class="course-register__input"
                type="text"
                placeholder="Họ tên*"
              />
              <input
                class="course-register__input"
                type="tel"
                placeholder="Số điện thoại*"
              />
              <input
                class="course-register__input"
                type="text"
                placeholder="Khu vực học (thành phố/tỉnh)*"
              />
              <select name="" id="" class="course-register__input">
                <option value selected>Môn học bạn quan tâm</option>
                <option value="1">IELTS</option>
                <option value="2">TOEIC</option>
                <option value="3">IELTS Writing and Speaking</option>
                <option value="4">Tiếng Anh cơ bản</option>
              </select>
              <a href="" class="course-register__button"
                >Đăng ký tư vấn miễn phí</a
              >
            </form>
          </div>
        </div>
      </div>
      <!-- End Register Course -->
      <!-- End Course -->
    </div>

    <!-- End Content -->
    <!-- Footer : Should be in Layout -->
    <footer class="footer">
      <div class="grid wide">
        <div class="footer__container row">
          <div class="footer__box col l-2">
            <img
              width="100px"
              height="30px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt=""
            />
            <p class="footer__text">© 2021</p>
            <div class="footer__social">
              <a href="" class="footer__link">
                <i class="fa-brands fa-facebook footer__icon"></i
              ></a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-instagram footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-twitter footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-linkedin footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-tiktok footer__icon"></i>
              </a>
            </div>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__business">
          <h3 class="footer__header footer__header--margin">
            Thông tin doanh nghiệp
          </h3>
          <ul class="footer__list">
            <li class="footer__item">
              <p class="footer__information">Công ty TNHH Công Nghệ A Plus</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Giấy chứng nhận Đăng ký doanh nghiệp số: 0109675459 do Sở Kế
                hoạch và Đầu tư thành phố Hà Nội cấp ngày 17/06/2021.
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Điện thoại liên hệ/Hotline: 096 369 5525
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">Email: study4.team@gmail.com.</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Địa chỉ trụ sở: Số 15, Ngõ 208 Giải Phóng, Phường Phương Liệt,
                Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
              </p>
            </li>
          </ul>
          <p class="footer__copyright">
            @ 2021 - Bản quyền của Công ty TNHH Công Nghệ A Plus.
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
