<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/loginAndRegisterAndActive.css" />
    <link rel="stylesheet" href="../assets/css/examOnline.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Body -->
    <div class="content">
      <div class="content__container">
        <div class="login__container">
          <h3 class="active__course-header">Cập nhật thông tin cá nhân</h3>
          <ul class="tag-search__transition">
            <li class="tag-search__transition-item">
              <a
                href="#"
                class="tag-search__transition-link tag-search__transition-link--chosen"
                >Thông tin cơ bản</a
              >
            </li>
            <li class="tag-search__transition-item">
              <a href="#" class="tag-search__transition-link"
                >Đổi ảnh đại diện</a
              >
            </li>
          </ul>
          <div class="update__block active">
            <p class="update__info--text">
              Email: chiemhoctot@gmail.com (STUDY4 không hỗ trợ đổi email. Vui
              lòng liên hệ chúng tôi nếu bạn đã mua khóa học và muốn đổi
              account.)
            </p>
            <p class="active__course-label">Họ và tên</p>
            <input
              type="text"
              class="active__course-input"
              placeholder="Họ và tên bạn"
            />
            <p class="active__course-label">Email</p>
            <input
              type="text"
              class="active__course-input"
              placeholder="Email"
            />
            <p class="active__course-label">Về bản thân</p>
            <input
              type="text"
              class="active__course-input active__course-input--about"
              placeholder="Chia sẻ những điều thú vị về bạn"
            />
            <p class="active__course-label">Username</p>
            <input
              type="text"
              class="active__course-input"
              placeholder="Một username ngắn gọn"
            />
            <p class="active__course-label">Mật khẩu</p>
            <input
              type="text"
              class="active__course-input"
              placeholder="Mật Khẩu"
            />
            <p class="active__course-label">Nhập lại mật khẩu</p>
            <input
              type="text"
              class="active__course-input"
              placeholder="Nhập lại mật khẩu"
            />
            <a href="" class="active__course-link">Lưu</a>
          </div>
          <div class="update__block">
            <p class="active__course-label">Ảnh đại diện</p>
            <img
              src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
              alt=""
              width="150"
              height="150"
              id="previewImg"
            />
            <input
              type="file"
              class="active__course-input"
              onchange="ChangeImage(this, document.getElementById('previewImg'))"
            />
            <p class="active__course-label">Banner</p>
            <img
              src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
              alt=""
              width="400"
              height="200"
              id="previewImg1"
            />
            <input
              type="file"
              class="active__course-input"
              onchange="ChangeImage1(this, document.getElementById('previewImg1'))"
            />
            <a href="" class="active__course-link">Lưu</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Body -->
    <!-- Footer : Should be in Layout -->
    <footer class="footer">
      <div class="grid wide">
        <div class="footer__container row">
          <div class="footer__box col l-2">
            <img
              width="100px"
              height="30px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt=""
            />
            <p class="footer__text">© 2021</p>
            <div class="footer__social">
              <a href="" class="footer__link">
                <i class="fa-brands fa-facebook footer__icon"></i
              ></a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-instagram footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-twitter footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-linkedin footer__icon"></i>
              </a>
              <a href="" class="footer__link">
                <i class="fa-brands fa-tiktok footer__icon"></i>
              </a>
            </div>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
          <div class="footer__box col l-2">
            <h3 class="footer__header">Khóa học online</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS General Writing</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">Complete TOEIC</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Fundamentals</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Listening</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Reading</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Speaking</a>
              </li>
              <li class="footer__item">
                <a href="" class="footer__link">IELTS Intensive Writing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__business">
          <h3 class="footer__header footer__header--margin">
            Thông tin doanh nghiệp
          </h3>
          <ul class="footer__list">
            <li class="footer__item">
              <p class="footer__information">Công ty TNHH Công Nghệ A Plus</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Giấy chứng nhận Đăng ký doanh nghiệp số: 0109675459 do Sở Kế
                hoạch và Đầu tư thành phố Hà Nội cấp ngày 17/06/2021.
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Điện thoại liên hệ/Hotline: 096 369 5525
              </p>
            </li>
            <li class="footer__item">
              <p class="footer__information">Email: study4.team@gmail.com.</p>
            </li>
            <li class="footer__item">
              <p class="footer__information">
                Địa chỉ trụ sở: Số 15, Ngõ 208 Giải Phóng, Phường Phương Liệt,
                Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
              </p>
            </li>
          </ul>
          <p class="footer__copyright">
            @ 2021 - Bản quyền của Công ty TNHH Công Nghệ A Plus.
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <script>
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);

      const tabs = $$(".tag-search__transition-link");
      const panes = $$(".update__block");

      const tabActive = $(
        ".tag-search__transition-link.tag-search__transition-link--chosen"
      );

      tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
          $(
            ".tag-search__transition-link.tag-search__transition-link--chosen"
          ).classList.remove("tag-search__transition-link--chosen");
          $(".update__block.active").classList.remove("active");

          this.classList.add("tag-search__transition-link--chosen");
          pane.classList.add("active");
        };
      });

      function ChangeImage(UploadImage, previewImg) {
        if (UploadImage.files && UploadImage.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            document
              .getElementById("previewImg")
              .setAttribute("src", e.target.result);
          };
          reader.readAsDataURL(UploadImage.files[0]);
        }
      }
      function ChangeImage1(UploadImage, previewImg) {
        if (UploadImage.files && UploadImage.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            document
              .getElementById("previewImg1")
              .setAttribute("src", e.target.result);
          };
          reader.readAsDataURL(UploadImage.files[0]);
        }
      }
    </script>
  </body>
</html>
