<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/grid.css" />
    <link rel="stylesheet" href="../assets/css/courseLearn.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>STUDY4</title>
  </head>
  <body>
    <!-- Navbar : Should be in Layout -->
    <nav class="navbar">
      <div class="grid wide">
        <div class="nav__container">
          <a href="/View/home.html">
            <img
              class="nav__img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4EOw8FBT_Sn6rQqg_NQGLLkHQKEQjA1h_c6ujo5_A&s"
              alt="Logo"
              class="nav_logo"
              width="150px"
              height="55px"
            />
          </a>
          <div class="nav_right">
            <ul class="nav__list hide-on-tablet hide-on-mobile">
              <li class="nav__item">
                <a href="/View/courseOnline.html" class="nav__link"
                  >Khóa học online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/examOnline.html" class="nav__link"
                  >Đề thi online</a
                >
              </li>
              <li class="nav__item">
                <a href="/View/flashCard.html" class="nav__link">Flashcards</a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">Blog</a>
              </li>
              <li class="nav__item">
                <a href="/View/activeCourse.html" class="nav__link"
                  >Kích hoạt khóa học</a
                >
              </li>
              <li class="nav__item nav__item-login">
                <a href="/View/login.html" class="nav__link-login">Đăng nhập</a>
              </li>
            </ul>

            <label for="nav-mobile-input" class="menubar__icon hide">
              <i class="fa-solid fa-bars nav__icon"></i>
            </label>
            <input type="checkbox" id="nav-mobile-input" class="nav__input" />
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <div class="nav__mobile hide">
              <ul class="nav__list-mobile">
                <li class="nav__item-mobile">
                  <a href="/View/courseOnline.html" class="nav__link-mobile"
                    >Khóa học online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/examOnline.html" class="nav__link-mobile"
                    >Đề thi online</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/flashCard.html" class="nav__link-mobile"
                    >Flashcards</a
                  >
                </li>
                <li class="nav__item-mobile">
                  <a href="" class="nav__link-mobile">Blog</a>
                </li>
                <li class="nav__item-mobile">
                  <a href="/View/activeCourse.html" class="nav__link-mobile"
                    >Kích hoạt khóa học</a
                  >
                </li>
                <li
                  class="nav__item-mobile nav__item-login nav__item-login-mobile"
                >
                  <a
                    href="/View/login.html"
                    class="nav__link-login nav__link-login-mobile"
                    >Đăng nhập</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->
    <!-- Body -->
    <div class="content">
      <div class="content__container">
        <input type="checkbox" id="content__checkbox" class="content__input" />
        <div class="content-left hide-on-mobile hide-on-tablet">
          <div class="flex__container header__container">
            <a href="courseLearn.html" class="content-left__header">List 1</a>
            <a href="" class="content-left__dropleft">
              <label for="content__checkbox"
                ><i class="content-left__icon fa-solid fa-angle-left"></i
              ></label>
            </a>
          </div>
          <div class="course-learn__container">
            <ul class="course-learn__list">
              <li class="course-learn__item">
                <a
                  href="vocabularyFlashCard.html"
                  class="content__box-course content__box-course--done content__box-course--chosen content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Từ vựng:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    FlashCard</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="multichoiceLearn.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Trắc nghiệm từ vựng</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="findPairLearn.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Tìm cặp</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="listenLearn.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Nghe từ vựng</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="translateLearn.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Dịch nghĩa / Điền từ</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="listenSpell.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Nghe chính tả</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="grammarChoice.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Nouns</span
                  >
                </a>
              </li>
              <li class="course-learn__item">
                <a
                  href="grammarInput.html"
                  class="content__box-course content__box-course--done content__box-course-in-list"
                >
                  <i
                    class="fa-solid fa-circle-check content__box-course__icon-done"
                  ></i>
                  <h3 class="content__box-course-category">Luyện tập:</h3>
                  <span
                    class="content__box-description content__box-description-in-list"
                  >
                    Indefinite</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-right">
          <nav class="nav__content-right">
            <div
              class="nav__content-header-right hide-on-mobile hide-on-tablet"
            >
              <a href="" class="nav__content-link-right"
                >IELTS General Reading
              </a>
              <i class="nav__content-right__icon fa-solid fa-chevron-right"></i>
              <span class="nav__content-transition-right">Từ vựng TOEIC</span>
            </div>
            <label class="hide" for="nav-mobile-course-checkbox"
              ><i class="fa-solid fa-bars nav__icon"></i
            ></label>
          </nav>
          <input
            type="checkbox"
            id="nav-mobile-course-checkbox"
            class="nav-mobile-course__input"
          />
          <div class="nav__mobile-course hide">
            <div class="flex__container header__container">
              <a href="" class="content-left__header">IELTS General Reading</a>
              <a href="" class="content-left__dropleft">
                <label for="nav-mobile-course-checkbox"
                  ><i class="content-left__icon fa-solid fa-angle-left"></i
                ></label>
              </a>
            </div>
            <div class="course-learn__container">
              <ul class="course-learn__list">
                <li class="course-learn__item">
                  <a
                    href=""
                    class="course-learn__link course-learn__link--chosen"
                    >Từ vựng TOEIC</a
                  >
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    Phương pháp làm các dạng câu hỏi trong IELTS General Reading
                  </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    Video chữa đề chi tiết
                  </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link"> PRACTICE ZONE </a>
                </li>
                <li class="course-learn__item">
                  <a href="" class="course-learn__link">
                    GT Practice Set 7 Test 1: Luyện tập từ vựng
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-right__container">
            <div class="grid wide grid-wide-course-learn">
              <div class="train__flex-container">
                <a
                  href=""
                  class="flashcard__train-link flashcard__train-link--random"
                >
                  Xem tất cả</a
                >
                <a
                  href=""
                  class="flashcard__train-link flashcard__train-link--stop"
                >
                  <i class="fa-solid fa-ban flashcard__train-icon"></i> Dừng học
                  list từ này</a
                >
              </div>
              <div class="aleart__box">
                <p class="aleart__text">
                  Chú ý: bạn đã học xong số lượng từ cần ôn tập trong hôm nay.
                  Bạn có thể dừng lại việc ôn tập và quay lại vào hôm sau. TUY
                  NHIÊN, nếu bây giờ bạn vẫn muốn ôn tập tiếp, các từ bạn đang
                  học sẽ xuất hiện NGẪU NHIÊN ở dưới.
                </p>
              </div>
              <div class="content__box">
                <input
                  type="checkbox"
                  id="swap"
                  class="vocab__flashcard-checkbox"
                />
                <label for="swap" class="row vocab__flashcard-translate">
                  <div class="vocab__flashcard-translate-left col l-8">
                    Định nghĩa: hóa đơn =proof of payment Ví dụ: Make sure you
                    are given a [receipt] for everything you buy. (=Dịch: Hãy
                    chắc chắn rằng bạn nhận được biên lai cho mọi thứ bạn mua.)
                    More retailers are switching to email [receipts] instead of
                    paper. (=Dịch: Nhiều nhà bán lẻ đang chuyển sang biên nhận
                    qua email thay vì giấy.) If you've got your [receipt] you
                    can usually exchange the goods. (=Dịch: Nếu bạn đã nhận được
                    biên nhận, bạn thường có thể đổi hàng.)
                  </div>
                  <div class="vocab__flashcard-translate-right col l-4">
                    <img
                      src="https://study4.com/media/toeic_course_vocabs/media/26_1000_F_234382675_IDhCYbxmtSN0fExmTAw9aH39daLiMihV.jpg"
                      alt=""
                      class="vocab__flashcard-img"
                      width="100%"
                    />
                  </div>
                </label>
                <label for="swap" class="vocabulary__container">
                  <div class="vocab__flashcard-container">
                    <div class="">
                      <span class="vocab__text">elevator</span>
                      <a href="#" class="vocabulary__speaker">
                        <i
                          class="fa-solid fa-volume-high vocabulary__content-icon"
                        ></i>
                      </a>
                      <span class="vocabulary__national">UK</span>
                      <a href="#" class="vocabulary__speaker">
                        <i
                          class="fa-solid fa-volume-high vocabulary__content-icon"
                        ></i>
                      </a>
                      <span class="vocabulary__national">US</span>
                    </div>
                    <div class="">
                      <p class="vocab__spelling">(n) /'elɪveɪtər/</p>
                    </div>
                  </div>
                </label>
              </div>
              <div class="content__box">
                <div class="vocabulary__container rate__container">
                  <div class="vocab__flashcard-container--rate">
                    <div
                      class="vocab__rate-category vocab__rate-category--easy"
                    >
                      <i class="fa-regular fa-face-smile"></i>
                      <p class="vocab__rate-text">Dễ</p>
                    </div>
                    <div
                      class="vocab__rate-category vocab__rate-category--medium"
                    >
                      <i class="fa-regular fa-face-meh"></i>
                      <p class="vocab__rate-text">Trung bình</p>
                    </div>
                    <div
                      class="vocab__rate-category vocab__rate-category--hard"
                    >
                      <i class="fa-regular fa-face-tired"></i>
                      <p class="vocab__rate-text">Khó</p>
                    </div>
                    <div class="vocab__rate-category">
                      <i class="fa-solid fa-forward-step"></i>
                      <p class="vocab__rate-text">Đã biết, loại khỏi</p>
                      <p>danh sách ôn tập</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Body -->
  </body>
</html>
